* {
    box-sizing: border-box;
}



.jumbotron,
.card-header {
    background-color: hsl(342, 83%, 81%);
    text-decoration-color: hsl(0, 3%, 17%);
    text-align: center;

}

.card-body,
tbody {
    font-family: 'Roboto Condensed';
    background-color:#F7C4A5;
}

body {
    background-color: rgb(189, 188, 187);
}